<form [formGroup]="form" (ngSubmit)="save()">
    <div>
        <label for="contact-firstName">Prénom</label>
        <input type="text" name="firstName" id="contact-firstName"
         formControlName="firstName">
         <p [hidden]="firstName?.untouched || !(firstName?.errors?.['required'])">
            Vous devez saisir un prénom.
        </p>
    </div>
    <div>
        <label for="contact-lastName">Nom de famille</label>
        <input type="text" name="lastName" id="contact-lastName"
        formControlName="lastName">
    </div>
    <div>
        <label for="contact-birthdate">Date de naissance</label>
        <input type="date" name="birthdate" id="contact-birthdate"
        formControlName="birthdate">
    </div>
    <div>
        <label for="contact-priority">Priorité</label>
        <input type="number" name="priority" id="contact-priority"
        formControlName="priority">
    </div>
    <div>
        <label for="contact-email">Email</label>
        <input type="email" name="email" id="contact-email"
        formControlName="email">
        <p [hidden]="email?.untouched || !(email?.errors?.['required'])">
            Vous devez saisir un email.
        </p>
        <p [hidden]="email?.untouched || !(email?.errors?.['pattern'])">
            Une adresse doit contenir un "@".
        </p>
    </div>
    <div formGroupName="period">
        <label for="contact-period-from">Début</label>
        <input type="date" name="period-from" id="contact-period-from"
        formControlName="from">
        <label for="contact-period-to">Fin</label>
        <input type="date" name="period-to" id="contact-period-to"
        formControlName="to">
        <p [hidden]="period?.untouched || !(period?.errors?.['period'])">
            La date de début ({{ period?.errors?.['period'].fromValue }}) doit être antérieure à la date de fin.
        </p>
    </div>
    <button [disabled]="form.invalid">Enregistrer</button>
</form>
