<form #form="ngForm" (ngSubmit)="save(); form.reset()" appPeriod>
    <div>
        <label for="contact-firstName">Prénom</label>
        <input type="text" name="firstName" id="contact-firstName"
         [(ngModel)]="contact.firstName" required #firstNameModel="ngModel">
         <p [hidden]="!(firstNameModel.errors?.['required']) || firstNameModel.untouched">
            Vous devez saisir un prénom.
        </p>
    </div>
    <div>
        <label for="contact-lastName">Nom de famille</label>
        <input type="text" name="lastName" id="contact-lastName"
        [(ngModel)]="contact.lastName" required>
    </div>
    <div>
        <label for="contact-birthdate">Date de naissance</label>
        <input type="date" name="birthdate" id="contact-birthdate"
        [(ngModel)]="contact.birthdate" appMinDate="1900-01-01" #birthdateModel="ngModel">
        <p [hidden]="!(birthdateModel.errors?.['minDate']) || birthdateModel.untouched">
            La date doit être ultérieure à
            {{ birthdateModel.errors?.['minDate'].min | date }}
        </p>
    </div>
    <div>
        <label for="contact-priority">Priorité</label>
        <input type="number" name="priority" id="contact-priority"
        [(ngModel)]="contact.priority">
    </div>
    <div>
        <label for="contact-email">Email</label>
        <input type="email" name="email" id="contact-email"
        [(ngModel)]="contact.email" pattern=".+@.+" required #emailModel="ngModel">
        <p [hidden]="!(emailModel.errors?.['required']) || emailModel.untouched">
            Vous devez saisir un email.
        </p>
        <p [hidden]="!(emailModel.errors?.['pattern']) || emailModel.untouched">
            Une adresse doit contenir un "@".
        </p>
    </div>
    <div>
        <label for="contact-period-from">Début</label>
        <input type="date" name="from" id="contact-period-from" [(ngModel)]="from">
        <label for="contact-period-to">Fin</label>
        <input type="date" name="to" id="contact-period-to" [(ngModel)]="to">
        <p [hidden]="form?.untouched || !(form?.errors?.['period'])">
            La date de début ({{ form?.errors?.['period'].fromValue }}) doit être antérieure à la date de fin.
        </p>
    </div>
    <button [disabled]="form.invalid">Enregistrer</button>
</form>
